<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.music.mapper.ComposerMapper">
    <select id="getAll" resultType="com.example.music.entity.Composer">
        SELECT id, name, gender FROM composer;
    </select>
    <delete id="delete">
        DELETE FROM composer WHERE id=#{id};
    </delete>
</mapper>
