<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.music.mapper.CompanyMapper">
    <select id="getAll" resultType="com.example.music.entity.Company">
        SELECT id, name, region, established_time As 'establishedTime' FROM company;
    </select>
    <delete id="delete">
        DELETE FROM company WHERE id=#{id};
    </delete>
</mapper>
